:root {
    --primary : #626D8C;
    --primary-hover : #4e566d; 
    --secondary : #0B0C0C;
    --paragraph : #323433;
}

* {
    padding: 0px 10px 0px 10px;
}

body {
    font-family: "Inter", sans-serif;
}

p {
    color: var(--paragraph);
}



/* SECTION ABOUT */
#about { 
    height: 100vh;
    display: flex;
    /* background-color: blue; */
}

.about .col {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.about .col:nth-child(1) {
    flex: 15;
}

.about .col:nth-child(2) {
    flex: 10;
}

.about .col:nth-child(3) {
    flex: 3;
}

.ellipse {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .col h1 {
    font-size: 60px;
    padding: 10px 0;
    color: var(--secondary);
    margin: 0;
}

.highlight {
    color: var(--primary);
}

.about .button {
    padding-top: 20px;
}

.about .col .primary {
    padding: 10px 30px;
    background-color: var(--primary);
    border-radius: 5px;
    transition: padding 0.3s ease;
}

.about .col .primary:hover {
    background-color: var(--primary-hover);
}

.about .col a.primary{
    text-decoration: none;
    color: #fff;
}

.about .col a{
    text-decoration: none;
    color:var(--paragraph);
    font-size: 14px;
}

.about .col:nth-child(2) .row {
    width: 380px;
    height: 380px;
    border-radius: 2000px 100px 0 0;
    background-color: var(--primary);
}


.rotate-icon {
    transform: rotate(320deg); /* Memutar ikon 90 derajat */
    color: var(--paragraph );
}

