:root {
    --background: #F0F0F6;
    --primary: #626D8C;
    --primary-hover: #4e566d;
    --secondary: #0B0C0C;
    --paragraph: #323433;
}

.dark-theme {
    --background: #0B0C0C;
    --primary: #626D8C;
    --primary-hover: #4e566d;
    --secondary: #F0F0F6;
    --paragraph: #adadad;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 30px;
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    /* background-color: yellow; */
}

p {
    color: var(--paragraph);
}

h1 {
    color: var(--secondary);
}




/* NAVBAR */
#navbar {
    padding: 20px 0px;
    /* background-color: hotpink; */
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h2 {
    color: var(--primary);
}

#navbar ul {
    display: flex;
    text-align: right;
    margin-left: auto;
    /* Menggeser ke kanan */
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--paragraph);
    padding: 10px;
}

#icon,
.icon {
    margin: 0px 5px;
    cursor: pointer;
    color: var(--paragraph);
}

#navbar-toggle {
    display: none;
}

#navbar .menu-button a {
    padding: 10px 20px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--paragraph);
    margin-left: 10px;
    white-space: nowrap;
}

.navbar {
    border-bottom: 1px solid var(--paragraph);
}

.ellipse {
    margin: 5px 0;
    width: 90px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}




/* SECTION ABOUT */
#about {
    height: 100vh;
    display: flex;
    /* background-color: blue; */
}

#about .col {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#about .col:nth-child(1) {
    flex: 15;
}

#about .col:nth-child(2) {
    flex: 10;
    justify-content: right;
}

#about .col h1 {
    font-size: 60px;
    margin: 0;
}

#about .col span {
    padding: 0 10px;
}

.highlight {
    color: var(--primary);
}

#about .col p {
    padding: 10px 0px;
}

#about .about-button {
    padding: 10px 0px;
}

#about .col .primary {
    padding: 10px 30px;
    background-color: var(--primary);
    border-radius: 5px;
    transition: padding 0.3s ease;
}

#about .col .primary:hover {
    background-color: var(--primary-hover);
}

#about .col a.primary,
#education .col a.primary
 {
    text-decoration: none;
    color: #fff;
}

#about .col a,
#education .col a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--paragraph);
    font-size: 14px;
    display: inline-block;
    transition: transform 0.3s ease;
}

#about .col a:hover {
    transform: scale(1.1);
}


#about .col:nth-child(2) .row {
    width: 380px;
    height: 380px;
    border-radius: 2000px 100px 0 0;
    background-color: var(--primary);
}

#about .col:nth-child(2) .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rotate-icon {
    transform: rotate(320deg);
    color: var(--paragraph);
}

















/* SECTION EDUCATION */
#education {
    margin: 30px 0;
    display: flex;
    /* background-color: green; */
}

#education .col:nth-child(1) {
    flex: 1;
}

#education .col:nth-child(2) {
    flex: 2;
}

#education p {
    padding: 15px 0;
}

#education .col {
    margin: 20px 0px;
}

#education .col .primary {
    padding: 5px 15px;
    background-color: var(--primary);
    border-radius: 5px;
    transition: padding 0.3s ease;
}

#education .col .primary:hover {
    background-color: var(--primary-hover);
}

#education .col a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--paragraph);
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
}
















/* Media queries */
@media screen and (max-width: 1200px) {


    #about .col h1 {
        font-size: 30px;
    }

    #navbar ul li {
        padding: 0;
    }


    #navbar a,
    #navbar ul li a,
    p {
        font-size: 12px;
    }

    #about .col:nth-child(2) .row {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width: 768px) {
    #navbar .container {
        flex-wrap: wrap;
    }

    #navbar ul {
        flex-direction: column;
        width: 100%;
    }

    #navbar ul.hidden {
        display: none;
    }

    #navbar ul li {
        margin: 5px 0;
    }

    #navbar ul li:first-of-type {
        padding-top: 5px;
    }

    #navbar ul li:last-of-type {
        padding-top: 5px;
    }

    .navbar ul.active {
        display: block;
        /* Tampilkan menu saat memiliki kelas active */
    }

    #icon {
        text-align: right;
        margin-left: auto;
    }

    #navbar-toggle {
        display: block;
    }

    .ellipse {
        width: 80px;
        height: 25px;
    }

    .ellipse p {
        font-size: 12px;
    }

    #about .col p {
        padding: 5px 0px;
    }

    #about .col h1,
    #education .col h1 {
        font-size: 25px;
    }

    #about .col:nth-child(2) .row {
        width: 190px;
        height: 190px;
    }

    #about .col .primary {
        padding: 5px 15px;
    }

    #about .about-button a {
        font-size: 12px;
    }
}

@media screen and (max-width: 568px) {
    h2 {
        font-size: 14px;
    }

    #about,
    #education {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #about .col:nth-child(2) {
        justify-content: center;
    }

    #about .col {
        padding: 20px 0;
    }

    #about .col:nth-child(1),
    #about .col:nth-child(2) {
        flex: 1;
    }

    #education .col:nth-child(2) {
       align-items: left;
    }
}