:root {
    --background-color: #F0F0F6;
    --primary-color: #626D8C;
    --primary-color-hover: #4e566d;
    --secondary-color: #0B0C0C;
    --paragraph-color: #323433;
    --box-color: #FFFF;;
}

.dark-theme {
    --background-color: #191919;
    --primary-color: #626D8C;
    --primary-color-hover: #4e566d;
    --secondary-color: #F0F0F6;
    --paragraph-color: #adadad;
    --box-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px 50px;
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    /* background-color: yellow; */
}

p {
    color: var(--paragraph-color);
}

h1 {
    color: var(--secondary-color);
}




/* NAVBAR */
#navbar {
    padding: 20px 0px;
    /* background-color: hotpink; */
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h2 {
    color: var(--primary-color);
}

#navbar ul {
    display: flex;
    text-align: right;
    margin-left: auto;
    /* Menggeser ke kanan */
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--paragraph-color);
    padding: 10px;
}

#icon,
.icon {
    margin: 0px 5px;
    cursor: pointer;
    color: var(--paragraph-color);
}

#navbar-toggle {
    display: none;
}

#navbar .menu-button a {
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    color: var(--paragraph-color);
    margin-left: 10px;
    white-space: nowrap;
}

.navbar {
    border-bottom: 1px solid var(--paragraph-color);
}

.ellipse {
    margin: 5px 0;
    width: 90px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}




/* SECTION ABOUT */
#about {
    height: 100vh;
    display: flex;
    /* background-color: blue; */
}

#about .col {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#about .col:nth-child(1) {
    flex: 15;
}

#about .col:nth-child(2) {
    flex: 10;
    justify-content: right;
}

#about .col h1 {
    font-size: 60px;
    margin: 0;
}

#about .col span {
    padding: 0 10px;
}

.highlight {
    color: var(--primary-color);
}

#about .col p {
    padding: 10px 0px;
}

#about .about-button {
    padding: 10px 0px;
}

#about .col .primary {
    padding: 10px 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: padding 0.3s ease;
}

#about .col .primary:hover {
    background-color: var(--primary-color-hover);
}

#about .col a.primary,
#education .col a.primary
 {
    text-decoration: none;
    color: #FFFF;
}

#about .col a,
#education .col a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 14px;
    display: inline-block;
    transition: transform 0.3s ease;
}


#about .col:nth-child(2) .picture {
    width: 380px;
    height: 380px;
    border-radius: 2000px 100px 0 0;
    background-color: var(--primary-color);
}

#about .col:nth-child(2) .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rotate-icon {
    transform: rotate(320deg);
    color: var(--paragraph-color);
}


/* SECTION EDUCATION */
#education,
#portofolio {
    padding-bottom: 60px;
    display: flex;
    /* background-color: green; */
}

#education .col:nth-child(1),
#portofolio .col:nth-child(1) {
    flex: 1;
}

#education .col:nth-child(2),
#portofolio .col:nth-child(2) {
    flex: 2;
}

#education p,
#portofolio p,
#certified p {
    padding: 15px 0;
}

#education .col .primary {
    padding: 5px 15px;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: padding 0.3s ease;
}

#education .col .primary:hover {
    background-color: var(--primary-color-hover);
}

#education .col a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
}





/* SECTION SKILLS */
#skills {
    padding: 60px 0;
    /* background-color: blue; */
}
#skills .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skills .row:nth-child(2) { 
    /* background:linear-gradient(45deg, blueviolet, lightgreen); */
    padding:15px 9%;
}

#skills .row:nth-child(2) .box-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;    
}

#skills .row:nth-child(2) .box-container .box{ 
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: var(--box-color);
    text-align: center;
    padding:30px 20px;
}

#skills .row:nth-child(1) p {
    margin: 10px 0;
}

#skills .row:nth-child(2) h4 {
    color: var(--secondary-color);
}


#skills .box i {
    font-size: 70px;
    color: var(--primary-color);
}

#skills .box h4 {
    margin: 5px 0;
}
#skills .box p,
#certified table p {
    font-size: 12px;
    padding-bottom: 10px;
}

#skills .box:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#skills .box a {
    text-decoration: none;
    color: var(--primary-color);
}



/* CERTIFIED */
#certified {    
    /* background-color: peru; */
}

#certified .row:nth-child(2) {
    background-color: var(--box-color);
    border-radius: 10px;
}

#certified .certificate {
    display: flex;
    margin: 10px 0;
    width: 100%;
    border-bottom: 3px solid var(--background-color);
}

#certified h4 {
    color: var(--secondary-color);
}

#certified .certificate:last-child {
    border-bottom: none;
}

#certified .certificate .col:first-child {
    padding-left: 20px;
}

#certified .certificate .col {
    padding: 20px 5px;
    border-radius: 5px;
}

#certified .certificate .col:first-child img {
    height: 46px;
    width: 46px;
}

#certified .certificate p {
    padding: 0;
    margin: 9px 0;
}

#certified .certificate .col:last-child img {
    border: 2px solid var(--background-color);
    height: 86px;
    width: 146px;
}


/* PORTOFOLIO */
#portofolio {
    padding: 60px 0;
    /* background-color: peru; */
}

#portofolio .col:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portofolio .info {
    display: flex;
    justify-content: space-between;
}

#portofolio .info i {
    padding: 5px;
}

#portofolio .info a {
    text-decoration: none;
    color: var(--paragraph-color);
}

#portofolio .info a.acquired i {
    color: #e6cc00;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }


/* CONTACT */

#contact {
}

#contact p {
    text-align: center;
}

#contact .row:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact .row:nth-child(2) {
    padding-top: 10px;
    display: flex;
}

#map-container {
    flex: 1;
    min-width: 100%; /* Lebar minimum untuk peta */
    height: 100%;
}

#contact .col {
    flex: 1;
    height: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#contact iframe {
    width: 80%;
}

form {
    width: 90%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    font-family: "Inter", sans-serif; 
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #FFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--primary-color-hover);
}

input#name {
    font-family: "Inter", sans-serif;
}

#contact .col:last-child .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}

#contact .col:last-child .contact a {
    display: flex;
    text-decoration: none;
    margin: 30px 0;
    cursor: pointer;
    align-items: center;
}

#contact i {
    color: var(--secondary-color);
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    justify-content: center;
}
#contact .social-icon {
    display: flex;
    justify-content: space-between;
}
#contact .circle {
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    margin: 10px;
}


/* FOOTER */
#footer {
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid var(--paragraph-color);
}

#footer p {
    color: var(--secondary-color);
}

#footer {
    display: flex;
    justify-content: space-between;
}

#footer .col:first-child {
    display: flex;
    align-items: center;
}

#footer .col:first-child i {
    margin: 0 5px;
    color: var(--secondary-color);
}

/* Media queries */
@media screen and (max-width: 1200px) {


    #about .col h1 {
        font-size: 30px;
    }

    #navbar ul li {
        padding: 0;
    }


    #navbar a,
    #navbar ul li a,
    p {
        font-size: 12px;
    }

    #about .col:nth-child(2) .picture {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0px 30px;
    }

    #navbar .container {
        flex-wrap: wrap;
    }

    #navbar ul {
        flex-direction: column;
        width: 100%;
    }

    #navbar ul.hidden {
        display: none;
    }

    #navbar ul li {
        margin: 5px 0;
    }

    #navbar ul li:first-of-type {
        padding-top: 5px;
    }

    #navbar ul li:last-of-type {
        padding-top: 5px;
    }

    .navbar ul.active {
        display: block;
        /* Tampilkan menu saat memiliki kelas active */
    }

    #icon {
        text-align: right;
        margin-left: auto;
    }

    #navbar-toggle {
        display: block;
    }

    .ellipse {
        width: 80px;
        height: 25px;
    }

    .ellipse p {
        font-size: 12px;
    }

    #about .col p {
        padding: 5px 0px;
    }

    #about .col h1,
    #education .col h1 {
        font-size: 25px;
    }

    #about .col:nth-child(2) .picture {
        width: 190px;
        height: 190px;
    }

    #about .col .primary {
        padding: 5px 15px;
    }

    #about .about-button a {
        font-size: 12px;
    }

    #skills .box i {
        font-size: 30px;
        color: var(--primary-color);
    }

    td:nth-child(2) {
        width: 100%;
    }

    #certified td:nth-child(1),
    #certified td:nth-child(2) {
        padding-bottom: 0;
    }

    #certified td:nth-child(3) {
        padding-top: 0;
        padding-bottom: 15px;
    }

    #certified tr:first-child td img {
        height: 40px;
        width: 40px;
    }

    #certified table h4 {
        font-size: 9px;
    }

    #certified table p {
        font-size: 7px;
    }

    #certified table h5 {
        font-size: 10px;
    }

    #portofolio {
        display: flex;
        flex-direction: column;
    }

    #portofolio .info i,
    #portofolio .info a {
        font-size: 10px;
    }

    #contact .row:last-child {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    #contact .row:last-child .col {
        margin: 20px 0;
    }

    #contact .row .col span {
        margin: 5px;
        height: 1px;
    }
    
    #contact i {
        font-size: 15px;
        margin: 5px;
    }

    #footer .col:first-child i {
        margin: 2px;
        font-size: 10px;
    }

}

@media screen and (max-width: 568px) {
    h2 {
        font-size: 14px;
    }

    #education {
        margin-top: 30px;
    }
    
    #about,
    #education {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #about .col:nth-child(2) {
        justify-content: center;
    }

    #about .col,
    #education .col {
        padding: 20px 0;
    }

    #about .col:nth-child(1),
    #about .col:nth-child(2) {
        flex: 1;
    }

    #education .col:nth-child(2) {
       align-items: left;
    }

    #education {
        padding: 0;
    }

    #skills .row:nth-child(2) { 
        /* background:linear-gradient(45deg, blueviolet, lightgreen); */
        padding:15px 0;
    }

    
    #certified .certificate .col:first-child img {
        height: 36px;
        width: 36px;
    }

    #contact iframe {
        width: 100%;
        height: 80%;
    }

    #footer {
        flex-direction: column;
        align-items: center;
    }

    #footer p {
        font-size: 10px;
    }
}